name: Publish package

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  packages: write

jobs:
  build:
    strategy:
      matrix:
        registry:
          # - url: https://registry.npmjs.org
          #   token: ${{ secrets.NPM_TOKEN }}
          - url: https://npm.pkg.github.com
            token: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: pnpm
          registry-url: ${{ matrix.registry.url }}
          scope: "@invoke-ai"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish
        shell: bash
        run: pnpm publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ matrix.registry.token }}
